.toggle-btnS {
  width: 40px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3px;
  border-radius: 25px;
  background-color: #D8DDE0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.circleS {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.on.toggle-btnS {
  background-color: #267EF8;
}

.off.toggle-btnS {
  background-color: #D8DDE0;
}

.on .circleS {
  margin-left: 17px;
}

.off .circleS {
  margin-left: 0; 
}